$mainColor : #31512a;
$secondColor : #5b8c51;
$tran : .3s ease;  
$prata : 'Prata', serif;
$roboto : 'Roboto', sans-serif;
$textCap : capitalizel;
$textUp : uppercase;
$textColor : #fff;
$hover : #fdd062;