@import 'variable';
@import 'reset';

// some mixin
@mixin bg-image{
    background-repeat: no-repeat;
}
@mixin beforeAfter($width, $height){
    position: absolute;
    left: 0;
    content: '';
    width: $width;
    height: $height;
    transition: $tran;
}
@mixin border($widht){
    border-width: $widht;
    border-color: $textColor;
    border-style: solid;
}


#top-header{
    background-color: $secondColor;
    padding: 10px 0;
    .left-top-header{
        ul{
            li{
                color: $textColor;
                &:first-child{
                    margin-right: 20px;
                }
            }
        }
    }
    // right top header
    .right-top-header{
        ul.social-icon{
            li{
                margin-right: 20px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    color: $textColor;
                }
            }
        }
    }
}

/*=============== main menu ------------*/

#menu{
    background-color: $mainColor;
    padding: 15px 0;
    transition: $tran;
    z-index: 99999;
    // search menu
    .search-menu{
        ul{
            li{
                color: $textColor;
                cursor: pointer;
                &:first-child{
                    margin-right: 20px;
                }
            }
        }
    }
}
.main-menu{
    ul{
        li{
            position: relative;
            a{
                padding: 0 20px;
                color: $textColor;
                position: relative;
                &::before{
                    @include beforeAfter(0,2px);
                    background-color: $hover;
                    bottom: -14px;
                }
                &:hover{
                    color: $hover;
                }
                &:hover::before{
                    width: 100%;
                }
            }
            // drop down
            ul.dropdown{
                @include beforeAfter(200px, auto);
                background-color: $mainColor;
                text-align: left;
                top: 40px;
                visibility: hidden;
                opacity: 0;
                z-index: 999;
                li{
                    display: block;
                    a{
                        padding: 10px 0 10px 15px;
                        &::before{
                            content: none !important;
                        }
                    }
                }
            }
            // hover for drop down menu
            &:hover ul.dropdown{
                visibility: visible;
                opacity: 1;
                top: 52px;
            }
        }
    }
}
/*------------------ hero area --------------*/

#hero{
    @include bg-image;
    min-height: 600px;
    color: $textColor;
    background-attachment: fixed;
    .hero-text{
        background-color: $secondColor;
        padding:50px 0;
        @include border(2px);
        position: relative;
        z-index: 1;
        .hero-shape{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
        .hero-icon{
            position: absolute;
            background-color: $secondColor;
            padding: 20px;
            @include border(2px);
            border-left: none;
            border-bottom: none;
            top: -58px;
            left: 50%;
            transform: translateX(-50%) rotateZ(-45deg);
            z-index: -1;
        }
    }
}


//----------------- about
.about-text{
    h1{
        margin-top: 20px;
        color: $mainColor;
    }
    p{
        margin: 20px 0 30px;
    }
}
.about-img{

    img{
        width: 100%;
    }
}
.about-details-single{
    margin-right: 15px;
    .about-details-img{
        margin-right: 15px;
    }
    .about-details-text{
        p{
            font-size: 16px;
            margin: 0;
        }
    }
}

//------------ counter
#counter{
    position: relative;
    .counter-bg{
        @include beforeAfter(100%, 200px);
        background-color: $hover;
        top: 100px;
        z-index: -1;
    }
    &::before{
        @include beforeAfter(auto,auto );
        content: 'Agriculture';
        font-size: 220px;
        left:50%;
        transform: translateX(-50%);
        bottom: -160px;
        z-index: -1;
        font-family: $prata;
        color: #f3f3f3;
    }
}
.single-counter{
    background-color: $textColor;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.06);

    padding: 40px 0;
    h1{
        font-size: 60px;
        margin-top: 100px;
        position: relative;
        &::before{
            @include beforeAfter(1px, 50px);
            background-color: $hover;
            left: 50%;
            top: -80px;
        }
    }
}
//---------- alll section title
.section-title{
    h6{
        text-transform: $textUp;
        color: $mainColor;
        font-family: $roboto;
        font-weight: 500;
        letter-spacing: 1px;
    }
    h1{
        text-transform: capitalize;
    }
}

//------------------- supporter
.single-supporter{
    img{
        transition: $tran;
        filter: grayscale(1);
    }
    h6{
        color: $mainColor;
        text-transform: $textUp;
        transition: $tran;
        visibility: hidden;
        opacity: 0;
    }
    &:hover img{
        transform: translateY(-20px);
        filter: grayscale(0);
    }
    &:hover h6{
        visibility: visible;
        opacity: 1;
    }
}


//------------------------services
#service{
    position: relative;
    &::before{
        @include beforeAfter(100%, 400px);
        background-color: $mainColor;
        top: 452px;
        z-index: -1;
    }
}
.single-service-img{
    height: 300px;
    position: relative;
    .single-service-shape{
        @include beforeAfter(70px,70px );
        background-color: $hover;
        line-height: 70px;
        text-align: center;
        right: 20px;
        left: auto;
        bottom: 0;
        transition: $tran
    }
}
.single-service-text{
    background-color: $textColor;
    padding: 30px 20px 20px;
    h4{
        font-size: 22px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        color: #777777;
    }
}
.single-service{
    &:hover .single-service-shape{
        transform: translateY(-20px);
    }
    &:hover h4{
        color: $mainColor;
        a{
            color:$mainColor
        }
    }
}
.single-service-img > img{
    width: 100%;
    height: 100%;
}


//------- contact number
.contact-number{
    margin-top: 90px;
    color: $textColor;
}
.contact-number{
    p{
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #b9c8b5;
    }
    .contact-icon{
        margin-right: 20px;
        margin-top: 10px;
        i{
            font-size: 60px;
            color: $hover;
        }
    }
}
//------------------------ blog
.single-blog{
    height: 500px;
    overflow: hidden;
    position: relative;
    &::before{
        @include beforeAfter(100%, 100%);
        background-image: linear-gradient( 0deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 100%)
    }
    &:hover .single-blog-text{
        bottom: 0;
    }
}
.single-blog-img{
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
}
.single-blog-text{
    position: absolute;
    left: 0;
    bottom: -152px;
    color: $textColor;
    padding: 0 40px 40px ;
    transition: $tran;
    h3{
        a{
            &:hover{
                color: $hover;
            }
        }
    }
}
.blog-text-hide{
    p{
        font-size: 14px;
        color: #a5a5a4;
        line-height: 24px;
        margin: 20px 0;
    }
    a{
        color: $hover;
        span{
            transition: $tran;
        }
        &:hover span{
            margin-left: 10px;
        }
    }
    
}

//----------- search form
.search-form{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 100px;
    z-index: 999;
    display: none;
    .search-off{
        color: $textColor;
        position: absolute;
        top: 20px;
        right: 20px;
        transform: rotate(45deg);
        cursor: pointer;
    }
}
.search{
    position: relative;
    input{
        width: 100%;
        min-height: 70px;
        border: none;
        background-color: #000;
        padding-left: 30px;
        color: #fff;
        &:focus{
            @include border(1px);
            border-color: $mainColor;
        }
    }
    button{
        position: absolute;
        top: 0;
        right: 15px;
        height: 100%;
        background-color: transparent;
        border: none;
        i{
            color: $textColor;
        }
    }
}


//---------------- for mobile menu

.mobile-menu{
	position: relative;
	cursor: pointer;
    i{
        color: $textColor;
    }
}

